<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!--icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/local_weather/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/local_weather/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/local_weather/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/local_weather/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/local_weather/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="/static/local_weather/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/local_weather/css/custom.min.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Погода в вашем городе</h1>
    </div>
    <form class="bs-component" id="weatherForm" onsubmit="showWeather(event)">
        <div>
            <label class="col-form-label col-form-label-lg mt-4" for="inputDefault">Введите город:</label>
            <input type="text" class="form-control form-control-lg" placeholder="Название населённого пункта"
                   id="inputDefault">
        </div>
        <button type="button" class="btn btn-primary" id="weatherButton" onclick="showWeather(event)">Узнать погоду</button>
    </form>
    <div class="card border-primary mb-4" style="max-width: 100%;" id="weatherCard">
        <div class="card-body">
            <h4 class="card-title" id="weatherHeader">Погода на сегодня</h4>
            <p class="card-text" id="weatherText">Введите город чтобы узнать прогноз</p>
        </div>
    </div>
</div>

<script>
    function showWeather() {
        event.preventDefault();

        var city = document.getElementById('inputDefault').value;

        const weatherCard = document.getElementById('weatherCard');
        const weatherHeader = document.getElementById('weatherHeader');
        const weatherText = document.getElementById('weatherText');

        if (!city) {
            weatherCard.classList.add('alert', 'alert-dismissible', 'alert-warning');
            weatherHeader.textContent = 'Ошибка!';
            weatherText.textContent = 'Введите название города!';
            return;
        }

        weatherHeader.textContent = `Погода на сегодня в ${city}`;

        fetch(`http://127.0.0.1:8000/get-weather?city=${city}`)
            .then(response => {
                                weatherText.textContent = 'Получение информации...';
                                return response;
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    if (data.error == 'no_city') {
                        weatherCard.classList.add('alert', 'alert-dismissible', 'alert-warning');
                        weatherHeader.textContent = 'Ошибка!';
                        weatherText.textContent = 'Город не найден! Проверьте правильность названия.';
                    }
                    console.error('Произошла ошибка', data.error);
                } else {weatherText.innerHTML = data.weather}
            })
            .catch(error => console.error('Произошла ошибка', error));
    }

</script>
</body>
</html>
